<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p align="center">  <img src="../logo.png"></p>
    
    <h1>Termos e condições gerais de uso do site e aplicativo Morada+</h1>

    <a>Os serviços do Morada+ são fornecidos pela equipe de alunos do curso de Full 
    Stack, turma de 2020 da Recode Pro, denominados como Squad 10 – São Paulo, 
    sendo estes titulares da propriedade intelectual sobre software, website, 
    aplicativos, conteúdos e demais ativos relacionados à plataforma Morada+.<a>

    <h2>1. Do objeto</h2>
    <a>A plataforma visa licenciar o uso de seu software, website, aplicativos e demais 
    ativos de propriedade intelectual, fornecendo ferramentas para auxiliar e 
    dinamizar o dia a dia dos seus usuários.
    A plataforma caracteriza-se pela prestação do serviço de intermediação de 
    usuários, com o objetivo de locar imóveis a preços acessíveis, focado ao público LGBTQIA+.</a>


    <h2>2. Da aceitação</h2>
    O presente Termo estabelece obrigações contratadas de livre e espontânea 
    vontade, por tempo indeterminado, entre a plataforma e as pessoas físicas ou 
    jurídicas, usuárias do site e/ou aplicativo.
    Ao utilizar a plataforma o usuário aceita integralmente as presentes normas e 
    compromete-se a observá-las, sob o risco de aplicação das penalidade cabíveis.
    A aceitação do presente instrumento é imprescindível para o acesso e para a 
    utilização de quaisquer serviços fornecidos pela Morada+. Caso não concorde 
    com as disposições deste instrumento, o usuário não deve utilizá-los.

    <h2>3. Do acesso dos usuários</h2>
    Serão utilizadas todas as soluções técnicas à disposição do responsável pela 
    plataforma para permitir o acesso ao serviço 24 (vinte e quatro) horas por dia, 7 
    (sete) dias por semana. No entanto, a navegação na plataforma ou em alguma 
    de suas páginas poderá ser interrompida, limitada ou suspensa para 
    atualizações, modificações ou qualquer ação necessária ao seu bom 
    funcionamento.SQUAD 10 – SP | http://moradamais.infinityfreeapp.com

    <h2>4. Do cadastro</h2>
    O acesso às funcionalidades da plataforma exigirá a realização de um cadastro 
    prévio.
    Ao se cadastrar o usuário deverá informar dados completos, recentes e válidos, 
    sendo de sua exclusiva responsabilidade manter referidos dados atualizados, 
    bem como o usuário se compromete com a veracidade dos dados fornecidos.
    O usuário se compromete a não informar seus dados cadastrais e/ou de acesso 
    à plataforma a terceiros, responsabilizando-se integralmente pelo uso que deles 
    seja feito.
    Menores de 18 anos e aqueles que não possuírem plena capacidade civil 
    deverão obter previamente o consentimento expresso de seus responsáveis 
    legais para utilização da plataforma e dos serviços ou produtos, sendo de 
    responsabilidade exclusiva dos mesmos o eventual acesso por menores de 
    idade e por aqueles que não possuem plena capacidade civil sem a prévia 
    autorização.
    Mediante a realização do cadastro o usuário declara e garante expressamente 
    ser plenamente capaz, podendo exercer e usufruir livremente dos serviços e 
    produtos.
    O usuário deverá fornecer um endereço de e-mail válido, através do qual o site 
    realizará todas comunicações necessárias.
    Após a confirmação do cadastro, o usuário possuirá um login e uma senha 
    pessoal, a qual assegura ao usuário o acesso individual à mesma. Desta forma, 
    compete ao usuário exclusivamente a manutenção de referida senha de maneira 
    confidencial e segura, evitando o acesso indevido às informações pessoais.
    Toda e qualquer atividade realizada com o uso da senha será de 
    responsabilidade do usuário, que deverá informar prontamente a plataforma em 
    caso de uso indevido da respectiva senha.
    Não será permitido ceder, vender, alugar ou transferir, de qualquer forma, a 
    conta, que é pessoal e intransferível.
    Caberá ao usuário assegurar que o seu equipamento seja compatível com as 
    características técnicas que viabilize a utilização da plataforma e dos serviços ou 
    produtos.
    O usuário poderá, a qualquer tempo, requerer o cancelamento de seu cadastro 
    junto ao site e/ou aplicativo. O seu descadastramento será realizado o mais 
    rapidamente possível.
    O usuário, ao aceitar os Termos e Política de Privacidade, autoriza 
    expressamente a plataforma a coletar, usar, armazenar, tratar, ceder ou utilizar 
    as informações derivadas do uso dos serviços, do site e quaisquer plataformas, 
    incluindo todas as informações preenchidas pelo usuário no momento em que 
    realizar ou atualizar seu cadastro, além de outras expressamente descritas na 
    Política de Privacidade que deverá ser autorizada pelo usuário.SQUAD 10 – SP | http://moradamais.infinityfreeapp.com

    <h2>5. Aos locadores</h2>
    A plataforma poderá disponibilizar para o usuário um conjunto específico de 
    funcionalidades e ferramentas para otimizar o uso dos serviços e produtos.
    É obrigatório aos locadores de imóveis que se cadastrarem na plataforma, que 
    o local oferecido esteja descrito e apresentado com o maior grau de exatidão, 
    contendo informações sobre suas características, qualidades, quantidades, 
    composição, preço, garantia, prazos de validade e origem, entre outros dados, 
    bem como sobre os riscos que apresentam à saúde e segurança do usuário.

    <h2>6. Dos preços</h2>
    A plataforma não terá custo aos seus usuários.
    Os valores aplicados na locação do imóvel não podem ser superiores a 5% do 
    salário mínimo vigente no ano, por metro quadrado.
    Os preços são indicados em reais e não incluem despesas de consumo, as quais 
    são de responsabilidade do locatário.

    <h2>7. Do distrato de locação.</h2>
    Os usuários, locador e locatário poderão rescindir o contrato a qualquer 
    momento, sem prévia autorização da Morada+, seguindo acordo com os termos 
    que forem definidos no momento da locação.

    <h2>8. Do suporte</h2>
    Em caso de qualquer dúvida, sugestão ou problema com a utilização da 
    plataforma, o usuário poderá entrar em contato com o suporte, através do link 
    “contato” disponível no site http://moradamais.infinityfreeapp.com

    <h2>9. Das responsabilidades</h2>
    É de responsabilidade do usuário:
    a) defeitos ou vícios técnicos originados no próprio sistema do usuário;
    b) a correta utilização da plataforma, dos serviços ou produtos oferecidos, 
    prezando pela boa convivência, pelo respeito e cordialidade entre os usuários;
    c) pelo cumprimento e respeito ao conjunto de regras disposto nesse Termo de 
    Condições Geral de Uso, na respectiva Política de Privacidade e na legislação 
    nacional e internacional;
    d) pela proteção aos dados de acesso à sua conta/perfil (login e senha).
    É de responsabilidade da plataforma Morada+:
    a) indicar as características do serviço ou produto;
    b) os defeitos e vícios encontrados no serviço ou produto oferecido desde que 
    lhe tenha dado causa;SQUAD 10 – SP | http://moradamais.infinityfreeapp.com
    c) as informações que foram por ele divulgadas, sendo que os comentários ou 
    informações divulgadas por usuários são de inteira responsabilidade dos 
    próprios usuários;
    A plataforma não se responsabiliza por links externos contidos em seu sistema 
    que possam redirecionar o usuário à ambiente externo a sua rede.
    Não poderão ser incluídos links externos ou páginas que sirvam para fins 
    comerciais ou publicitários ou quaisquer informações ilícitas, violentas, 
    polêmicas, pornográficas, xenofóbicas, discriminatórias ou ofensivas.

    <h2>10. Dos direitos autorais</h2>
    O presente Termo de Uso concede aos usuários uma licença não exclusiva, não 
    transferível e não sublicenciável, para acessar e fazer uso da plataforma e dos 
    serviços e produtos por ela disponibilizados.
    A estrutura do site ou aplicativo, as marcas, logotipos, nomes comerciais, 
    layouts, gráficos e design de interface, imagens, ilustrações, fotografias, 
    apresentações, vídeos, conteúdos escritos e de som e áudio, programas de 
    computador, banco de dados, arquivos de transmissão e quaisquer outras 
    informações e direitos de propriedade intelectual são da equipe de alunos 
    Recode Pro 2020, denominados Squad 10 São Paulo, observados os termos da 
    Lei da Propriedade Industrial (Lei nº 9.279/96), Lei de Direitos Autorais (Lei nº 
    9.610/98) e Lei do Software (Lei nº 9.609/98), estão devidamente reservados.
    Este Termos de Uso não cede ou transfere ao usuário qualquer direito, de modo 
    que o acesso não gera qualquer direito de propriedade intelectual ao usuário, 
    exceto pela licença limitada ora concedida.
    O uso da plataforma pelo usuário é pessoal, individual e intransferível, sendo 
    vedado qualquer uso não autorizado, comercial ou não-comercial. Tais usos 
    consistirão em violação dos direitos de propriedade intelectual, puníveis nos 
    termos da legislação aplicável.

    <h2>11. Das sanções</h2>
    Sem prejuízo das demais medidas legais cabíveis, a equipe técnica da Morada+, 
    poderá a qualquer momento, advertir, suspender ou cancelar a conta do usuário:
    a) que violar qualquer dispositivo do presente Termo;
    b) que descumprir os seus deveres de usuário;
    c) que tiver qualquer comportamento fraudulento, doloso ou que ofenda a 
    terceiros.SQUAD 10 – SP | http://moradamais.infinityfreeapp.com

    <h2>12. Da rescisão</h2>
    A não observância das obrigações pactuadas neste Termo de Uso ou da 
    legislação aplicável poderá, sem prévio aviso, ensejar a imediata rescisão 
    unilateral por parte da Morada+ e o bloqueio de todos os serviços prestados ao 
    usuário.

    <h2>13. Das alterações</h2>
    Os itens descritos no presente instrumento poderão sofrer alterações, 
    unilateralmente e a qualquer tempo, por parte da Morada+, para adequar ou 
    modificar os serviços, bem como para atender novas exigências legais. As 
    alterações serão veiculadas pelo site e pelo aplicativo Morada+ e o usuário 
    poderá optar por aceitar o novo conteúdo ou por cancelar o uso dos serviços, 
    caso seja assinante de algum serviço.

    <h2>14. Da política de privacidade</h2>
    Além do presente Termo, o usuário deverá consentir com as disposições 
    contidas na respectiva Política de Privacidade a ser apresentada a todos os 
    interessados dentro da interface da plataforma.

    <h2>15. Do foro</h2>
    Para a solução de controvérsias decorrentes do presente instrumento será 
    aplicado integralmente o Direito brasileiro.
    Os eventuais litígios deverão ser apresentados no foro de São Paulo

</body>
</html>